fastapi==0.78.0
uvicorn==0.17.6
waitress==2.1.2
smart_open==5.1.0
# Pin typing-extensions so aioitertools doesn't break
typing-extensions>=4.1.1
scale-launch>=0.1.0
# Incompatibility between celery 5 and python 3.7 because of importlib-metadata 5, so we pin it
importlib-metadata<5.0;python_version<"3.8"
