# Make sure to update .pre-commit-config.yaml to match versions!
black[jupyter]==24.8.0
datamodel-code-generator>=0.25.8
ruff==0.6.8
ipython==8.12.0  # 8.12.0 is the last version to support Python 3.8
isort==5.13.2
mypy==1.11.2
pip-tools==7.4.1
poetry==1.8.2
pre-commit==3.8.0
