{{- $serviceAccountName := include "modelEngine.fullname" . }}
{{- $serviceAccountNamespaces := (include "modelEngine.serviceAccountNamespaces" . | fromYaml) }}
{{- $annotations := .Values.serviceAccount.annotations }}
{{- $labels := include "modelEngine.labels" . }}
{{- range $namespace := (index $serviceAccountNamespaces "namespaces") }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{- printf " %s" $serviceAccountName }}
  namespace: {{- printf " %s" $namespace }}
  labels:
    {{- $labels | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-2"
    {{- with $annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if $.Values.azure }}
    azure.workload.identity/client-id: {{ $.Values.azure.client_id }}
    {{- end }}
{{- if $.Values.azure }}
imagePullSecrets:
  - name: egp-ecr-regcred
{{- end }}
---
{{- end }}
