GitPython~=3.0
Jinja2==3.0.3   # version 3.1.0 had a bug
aiohttp~=3.8
aioredis~=2.0
alembic==1.8.1
asyncpg==0.27.0
boto3-stubs[essential]==1.26.67
boto3~=1.21
botocore~=1.24
build==0.8.0
celery[redis,sqs,tblib]~=5.2
click~=8.1
cloudpickle==2.1.0
croniter==1.4.1
dataclasses-json>=0.5.7
datadog-api-client==2.11.0
datadog~=0.46.0
ddtrace==1.8.3
deprecation~=2.1
docker~=5.0
fastapi==0.78.0
gitdb2~=2.0
gunicorn~=20.0
httptools==0.5.0
json-log-formatter~=0.3
kubeconfig~=1.1
kubernetes-asyncio==24.2.2
kubernetes~=25.3.0
orjson==3.8.6
protobuf~=3.20
psycopg2-binary==2.9.3
py-xid==0.3.0
pycurl~=7.44  # For celery[sqs]
pydantic~=1.10.11
python-multipart~=0.0.6
quart==0.18.3
requests-auth-aws-sigv4~=0.7
requests~=2.25
rich~=12.6
sentencepiece==0.1.99
sh~=1.13
smart-open~=5.2
sqlalchemy[asyncio]==2.0.4
sse-starlette==1.6.1
sseclient-py==1.7.2
tenacity>=6.0.0,<=6.2.0
testing-postgresql==1.3.0
transformers==4.34.1
tqdm~=4.64
twine==3.7.1
uvicorn==0.17.6
uvloop==0.17.0
yarl~=1.4
